.container{
  margin: 2rem;
}

.contact{
  background-image: linear-gradient(50deg, #0b298a 0%, #549df5 100%);
  color: white;
  padding: 5rem 2rem;
  border-radius: 10px;
}

#tel,
#phone{
  text-decoration: none;
  color: white
}

.form-div{
  padding-left: 50px !important;
}

.form-header{
  margin-bottom: 1rem;
}

.form-title{
  color: blue;
  display: block;
}

.form-control,
.form-select{
  font-size: 1.2rem !important;
  padding: 1rem !important;
  box-shadow: none !important;
  border: none !important;
  transition: none !important;
}

.submit-button{
  padding: 1rem 2rem !important;
  border-radius: 2rem !important;
  background-image: linear-gradient(90deg, #0b298a 0%, #549df5 100%);
}

.contact-email,
.contact-phone,
.contact-address{
  display: flex;
}

.email-text,
.phone-text,
.address-text{
  display: flex;
  flex-direction: column;
}
.fw-bold{
  font-weight: bold;
}

.icon-home,
.icon-phone,
.icon-address{
  background-image: linear-gradient(275deg,#ffffff 0%, #fcfcff 100%);
  min-width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  margin-right: 23px;
}

.fa-home,
.fa-phone,
.fa-map-marker{
  position: relative;
}

.fa-home::before,
.fa-phone::before,
.fa-map-marker::before{
  color: #000;
  font-size: 25px;
  position: absolute;
  top: -17px;
  left: -10px;
}

